body	    {background-color:#F0F0F0; font-family:Lucida Grande, Arial, Junicode, Times New Roman, serif;  text-align:justify; margin-left:2cm; margin-right:2cm; font-size:12pt; line-height:18pt;}

h2          {font-family:Arial,sans-serif; font-size:14pt; font-weight:bold;}
h3	    {font-family:Arial,sans-serif; font-size:13pt;}
h4	    {font-family:Arial,sans-serif; font-size:12pt;}
h5	    {font-family:Arial,sans-serif; font-size:12pt;}
h6	    {font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight:bold; color:white; margin-top:0px; margin-bottom:0px}

p	    {margin-top:15px; margin-bottom:15px; line-height: 2;}

sup	    {font-size:10pt}

a:link 		{ color:blue; text-decoration:none;}
a:visited	{ color:blue; text-decoration:none;}
a:hover		{ color:blue; text-decoration:underline;}
a:active	{ color:blue; text-decoration:none;}
a:focus		{ color:blue; text-decoration:none;}

.ib         {color:blue; font-size:13pt; font-weight:bold}
.klein	    {font-size:12pt;}
.inhkl	    {font-size:12pt; margin-left:0.5cm;}
.bibkl      {font-size:11pt; margin-top:}
.bibklt     {font-size:11pt; margin-left:0cm; margin-top:12px;}
.zitat			{font-family:Junicode,JunicodeRegular; font-size:12pt; font-style:italic}
.zitatKlammer {font-size:11pt;}
.zr	    {background-color:gray}
.zd	    {text-decoration:line-through;}
.zk	    {background-color:#78C878;}
.zn	    {background-color:#80FFF0} 

.nav	    {font-family:Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none; font-weight : bold; margin-top:0px; margin-bottom:0px;}


.blau       {color:blue;}

.literatur {
    margin-left:1cm;
    text-indent:-1cm;
}
