body {
	background-color:#F0F0F0;
	font-family: Lucida Grande, Junicode, serif;
}

h1          {font-family:Arial,sans-serif; font-size:12pt; font-weight:bold;}
h2	    {font-family:Arial,sans-serif; font-size:12pt;}

p	    {margin-top:15px; margin-bottom:15px;}


a:link 		{ color:black; text-decoration:none; cursor:text}
a:visited	{ color:black; text-decoration:none; cursor:text}
a:hover		{ color:black; text-decoration:none; cursor:text}
a:active	{ color:black; text-decoration:none; cursor:text}
a:focus		{ color:black; text-decoration:none; cursor:text}



.ib         {color:blue; font-size:13pt; font-weight:bold}
.ir         {color:red; font-size:13pt; font-weight:bold}
.ig         {color:green; font-size:13pt; font-weight:bold}
.is         {font-size:13pt; font-weight:bold}
.xi         {color:#FA6450;}
.xsi        {color:#FA6450; font-size:15pt;} 
.si1        {color:red; font-size:17pt; background-color:gold}
.si2        {color:red; font-size:14pt; font-weight:bold}

.v          {font-weight:bold;}
.m          {font-style:italic}

.r          {background-color:gray}
.n          {background-color:#80FFF0} 

.k          {background-color:#78C878;}
.d          {text-decoration:line-through;}
.g          {color:#FF00FF;}

.schreiber  {font-variant:small-caps}

.ues	    {color:red; font-weight:bold}

.var        {color:#804000; font-weight:bold}

.anm	    {color:gray;}

.zr	    {background-color:gray}
.zd	    {text-decoration:line-through;}
.zk	    {background-color:#78C878;}
.zn	    {background-color:#80FFF0} 

.blau       {color:blue;}
.versnr {font-weight: normal; font-size: 0.8em;  margin-right:8px;}